<html>

{% extends "fitstart/nav.html" %}
{% load extras %}

{% block content %}

<div id="main">

	<div id="day">
		<h1 id="month">{{ now.date.month|month }}</h1>
		<h1 id="number">{{ now.date.day }}</h1>
		{% for event in event_list %}
			{% if not event.end %}
				{% if event.start == now.date %}
					<a href="http://localhost:8000/fitstart/workout/collection/">
						<p>{{ event }}</p>
					</a>
				{% endif %}
			{% else %}
				{% if event.start == now.date and event.end >= now.date %}
					<a href="http://localhost:8000/fitstart/workout/collection/"><p>{{ event }}</p></a>
				{% endif %}
			{% endif %}
		{% endfor %}

		<p>QOTD: "{{ quotation.quotation }}"</p>
		{% if quotation.author %}
			<p>-{{ quotation.author }}</p>
		{% endif %}
	</div>


</div>

{% endblock %}

</html>