<html>

{% extends 'fitstart/nav.html' %}

{% block content %}
<div id="main">

<h3>The Idea</h3>

<p>
	The goal of this website is to encourage individuals to make a healthy change to their lives. Check out the links above where you'll find a repository of exercises and workouts and be able to add your own as well! Add workouts to your calendar and keep yourself accountable for your commitments. 
</p>

<h3>The Inspiration</h3>

<p>
	The name of this project was inspired by two major parts of my life, programming and fitness. In Object Oriented Programming, dot notation is used indicate a bound method defined within the object with the object colloquially referred to as "self." In a similar way, making a healthy change in your own life starts from the individual. The only person able to cause change in your own life is you. 
</p>

<h3>About Me</h3>

<center><img src="../../static/fitstart/images/me.png" height="400" width="300"><center>

<p>
	Fitness changed my life. When I was in third and fourth grade, I was chubby and overweight and my classmates made fun of me. I lacked confidence and was socially awkward. I chose to make a change in fifth grade when I wanted to play basketball. I had a dream of playing in the NBA and even though it became more than a dream, the journey in working hard to keep myself in top physical shape changed my life. Being fit made me more confident and comfortable with myself. I believe anyone can make the change to live a healthier lifestyle. Not only did living healthier make me more confident, I was more productive and focused when pursuing academics and other interests such as guitar and reading. This website is born out of the passion to help others achieve their fitness goals and I can't wait to see how it will develop. 
	<br>
	<br>
	Connect with me out on social media!
	<ul>
		<li><a href="https://www.facebook.com/kevarifin14">Facebook</a></li>
		<li><a href="https://github.com/kevarifin14">GitHub</a></li>
	<ul>
</p>

</div>

{% endblock %}

</html>


