@import url('http://fonts.googleapis.com/css?family=Open+Sans');

h1, h2, h3{
	text-align: center;
	font-family: "Courier New";
	color: black;
}

#day{
	background: white;
	border: solid;
	width: 500px;
}

#day h3{
	text-align: left;
}

#repo{
	text-align: left;
}

p, li {
	font-family: "Open Sans";
	text-align: left;
}

/* navigation bar */
.nav {
	width: 740px;
	height: 37px;
	text-align: left;
	margin: 0px auto;
	border-top: 1px solid rgba(0,0,0,0.3);
	background: rgba(0,0,0,0.25);
	box-shadow: inset 0 1px rgba(255,255,255,0.3), 
				inset 0 10px rgba(255,255,255,0.2), 
				inset 0 10px 20px rgba(255,255,255,0.25), 
				inset 0 -15px 30px rgba(0,0,0,0.3);

}

.nav ul{
	margin: 0;
	padding: 0;
	position: relative;
	list-style-type: none;
}

.nav ul li{
	list-style: none;
	font-family: 'Open Sans';
	display: inline-block;
	-webkit-transition: all 0.2s;
	width: 150px;
	text-align: center;
}

.nav ul li:hover{
}

.nav ul li a{
	text-decoration: none;
	float: left;
	display: block;
	padding: 10px 20px;
	color: white;
}

.nav ul li a:hover{
	color: #a8d6e7;
}

.nav ul li:hover > ul{
	display: block;
}

.nav ul ul{
	display: none;
	background: rgba(0,0,0,0.5);
	padding: 0;
	position: absolute; 
	top: 42px;
	z-index: 1000
}

.nav ul ul li{
	display: block;
	float: none;
	border-top: 0px solid #6b727c;
	border-bottom: 0px solid #575f6a; 
	position: relative;
}

#main, #upperbody, #lowerbody, #core{
	display: block;
	width: 710px;
	padding: 14px 15px;
	margin: 0 auto;
	background: white;
	margin-bottom: auto;
}

#boxwrap{
	overflow: hidden;
	margin: 5px;
}

#box{
	width: 20%;
	padding-bottom: 20%;
	color: #0080FF;
	position: relative;
	float: left;
}

#content{
	position: absolute;
   	text-decoration: white;
   	background: #0080FF;
    width: 90%;
    padding-bottom: 10%;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
}

#box:hover, #content:hover{
	opacity: 0.8;
}

header{
	padding: 14px 15px;
	display: block;
	width: 710px;
	margin: 0;
	border: 0;
	background: #0080FF;
}

header a{
	text-decoration: none;
}

header:hover{
	opacity: 0.8;
}

body, html, div {
	width: 710px;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	background: white;
	padding: 5px;
  	color: black;
  	margin: 0px auto;
}

body, html {
	background-image: url("images/navy_blue.png");
	height: 100%;
}

ul{ list-style: none; }

table, th, td{
	border: 1px solid black;
}
table{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}



.button{
	display: block;
	background: white;
	border: 2px solid;
	color: black;
	text-align: center

	/* add curved border */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	padding: 10px;

	/* button depth & shadow */
	-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73, 0px 10px 5px #999;
}

/* glassy footer */

#footer{
	position: fixed;
	bottom: 0px;
	padding: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 40px;
	font-family: "Open Sans";
	text-shadow: 1px 1px 1px black;
	border-top: 1px solid rgba(0,0,0,0.3);
	background: rgba(0,0,0,0.25);
	box-shadow: inset 0 1px rgba(255,255,255,0.3)
}


